[global]
name = Grant Cohoe
email = grant@grantcohoe.com
phone = 330-790-1701
time_interval = 3

[frozen-women]
campaign_url = http://www.rit.edu/studentaffairs/frozen/women
max_bid = 200
bid_interval = 1
jerseys = 3:0, 14:0, 18:0, 22:0, 4:0
favorites = 4, 14, 18, 3, 22

[frozen-men]
campaign_url = http://www.rit.edu/studentaffairs/frozen/men
max_bid = 200
bid_interval = 1
jerseys = 9:0.0, 23:0.0, 26:0.0, 27:0
favorites = 9, 23, 26, 27
